body { background: #fafafa; }
a, a:hover, a:focus { color: inherit; text-decoration: none; transition: all 0.3s; }
.navbar { padding: 15px 10px; background: #fff; border: none; border-radius: 0; margin-bottom: 40px; }
.navbar-btn { box-shadow: none; outline: none !important; border: none; }
.line { width: 100%; height: 1px; border-bottom: 1px dashed #ddd; margin: 40px 0; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 90px;
    max-width: 90px;
    background: #5294e2;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -90px;
}

#sidebar .sidebar-header {
    background: #5294e2;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #5294e2;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #5294e2;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    background: #5294e2;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #5294e2;
}

a.article,
a.article:hover {
    background: #5294e2 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -90px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
