$body-bg: #383c4a;
$body-color: #7c818c;

$theme-colors: (
  "primary": #5294e2,
  "secondary": #7c818c
);
body {
  background: url(../img/wall.jpg) center center fixed;
  background-size: cover;
}
li {
  list-style: none;
}
@import "../node_modules/bootstrap/scss/bootstrap";
/*
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/nav";*/
